.proTextClass {
    color: limegreen;
    font-weight: bold;
}

.conTextClass {
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}

.pro-team {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    color: limegreen;
}

.contra-team {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    color: #c62424;
}

.pro-team-member {
    color: limegreen;
}

.contra-team-member {
    color: #c62424;
}