<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DebateApp | Choose Your Team</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
          type="text/css"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/choose_team.js}"></script>
</head>
<body>
<div class="container text-center">
    <div class="card p-3 bg-light m-5" th:object="${team_choice_information}">
        <div class="card-body">
            <p>Welcome to the debate:</p>
            <h1 th:text="*{title}">Title</h1>
            <hr class="my-4">
            <p>You'll debate the following statement:</p>
            <div class="p-3 mb-2 bg-white">
                <blockquote class="blockquote text-center">
                    <p th:text="'&quot' + *{statement} + '&quot'">Statement</p>
                </blockquote>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Affirmative Team</h5>
                            <p class="card-text">Join the Affirmative Team if you <b>agree</b>
                                with the above statement.</p>
                            <button class="btn btn-success">Join Team!</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Negative Team</h5>
                            <p class="card-text">Join the Negative Team if you <b>disagree</b>
                                with the above statement.</p>
                            <button class="btn btn-danger">Join Team!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>