<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DebateApp | Unexpected Error</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
          type="text/css"/>
</head>
<body class="container text-center">
    <h1>Something went wrong! </h1>
    <h4>Our Engineers are on it. We're sorry for the inconvenience.</h4>
    <h5><a th:href="@{/}">Home</a></h5>
</body>
</html>