<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DebateApp | Get Started</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container text-center">
        <h1>Welcome to the Debate App</h1>

        <blockquote class="blockquote text-center">
            <p class="mb-0">“It is better to debate a question without settling it than to settle a
                question without debating it.”</p>
            <footer class="blockquote-footer">
                <cite title="Source Title">Joseph Joubert</cite>
            </footer>
        </blockquote>

        <div>
            <h3><a th:href="@{/home}">Get Started</a></h3>
            <h3><a th:href="@{/register}">Register</a></h3>
        </div>
    </div>
</body>
</html>