<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DebateApp | Join New Debate</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
    <script type="text/javascript" th:src="@{/debate_call_utils.js}"></script>
    <script type="text/javascript" th:src="@{/join_debate.js}"></script>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>
<body>

    <div id="container" class="container text-center">

        <h5><a th:href="@{/}">Home</a></h5>

        <div id="wrapper" class="wrapper">
            <form id="url-input-form">
                <h1>Join debate</h1>
                <div class="form-group">
                    <label for="code-input">Debate Code</label>
                    <input
                            type="text"
                            class="form-control"
                            id="code-input"
                            placeholder="Enter Debate Code..."
                    />
                </div>
                <button
                        type="button"
                        id="join-debate"
                        class="btn btn-primary"
                        onclick="joinDebate()"
                >
                    Join debate
                </button>
            </form>
        </div>
    </div>
</body>
</html>
