<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DebateApp | Start Debate</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
    <script type="text/javascript" th:src="@{/debate_call_utils.js}"></script>
    <script type="text/javascript" th:src="@{/local.config.js}"></script>
    <script type="text/javascript" th:src="@{/start_debate.js}"></script>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>
<body>
<!--th:onload="'createCallFrame('+${user.getId()}+');'">-->

<div id="container" class="container text-center">

    <h5><a th:href="@{/}">Home</a></h5>

    <div id="wrapper" class="wrapper">

        <div class="text-center">
            <h3>Invite participants</h3>
            <p>Share the code below to invite others</p>
            <form>
                <div class="form-group">
                    <label for="copy-code">Debate Code</label>
                    <input
                            type="text"
                            class="form-control"
                            id="copy-code"
                            placeholder="Copy this debate code"
                            contenteditable="false"
                            th:value="${debateCode}"
                    />
                </div>
                <button
                        type="button"
                        id="copy-code-button"
                        class="btn btn-primary"
                        onclick="copyDebateCode()">
                    Copy Code
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
